<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body style="background-size: cover;background-color: #a42993;text-align: center;background-image: url(https://tse3.mm.bing.net/th?id=OIP.Gik4vgTQNx6-RgJgfpGaBwHaEK&pid=Api&P=0&h=180);">
    <header style="text-align: center; color: whitesmoke;" class="head">
            <a style = "text-decoration: none; font-size: 30px;color: #e33;" href="static/home.html" class="link"><u>Home</u></a>
            <h1 id="about">ABOUT</h1>
            
    </header>
    <div style="color:red; margin-top:80px ;text-align: center;font-family: 'Courier New', Courier, monospace;font-size: 20px;" class="Details">
        <!-- <img src ="static/1.jpg"> 
        <div id="n"></div> -->
        <h2 style="color: whitesmoke;" class="info">Name:<span class="uu"><%= data.Username %></span></h2>
        <h2 style="color: whitesmoke;" class="info">Laundary Number:<span class="uu"><%= data.Laundry_Number %></span></h2>
        <h2 style="color: whitesmoke;" class="info">Mobile Number:<span class="uu"><%= data.Mobile_Number %></span></h2>
    </div>
</body>
</html>