<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body style="background-size: cover;background-color: #a42993;text-align: center;background-image: url(static/1.jpg);">
    <div class="top">
        <span style = "color:rgb(18, 175, 223)">Have an account?</span>
        <header style = "color:rgb(17, 194, 225)">Lost and Found</header>
    </div>
    <div style = "color:rgb(223, 18, 121);text-align: center;"  class="Details">
        <!-- <div id="n"></div> -->
        <h2 style = "color:rgb(174, 177, 179)" >Name:<%= data.Username %></h2>
        <h2 style = "color:rgb(174, 177, 179)" >Laundary Number:<%= data.Laundry_Number %></h2>
        <h2 style = "color:rgb(174, 177, 179)" >Mobile Number:<%= data.Mobile_Number %></h2>
    </div>
</body>
</html>
