<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Lost and Found</title>

</head>
<body>
   <div class="box">
    <div class="container">

        <div class="top">
            <span>Have an account?</span>
            <header>Lost and Found</header>
        </div>

        <form action = '/lost' method ="post" id = "login">

            <div class="input-field">
                <input type="text" class="input" placeholder="Laundry_Number" name="Laundry_Number">
                <i class='bx bx-user' ></i>
            </div>
            
            <div class="input-field">
                <input type="submit" class="submit" value="Find" >
            </div>
            
        </form>
        <!-- <div style = "color:rgb(223, 18, 121)"  class="Details">
            <div id="n"></div> 
            <h2 style = "color:rgb(44, 159, 193)" >Name:<%= data.Username %></h2>
            <h2 style = "color:rgb(44, 159, 193)" >Laundary Number:<%= data.Laundry_Number %></h2>
            <h2 style = "color:rgb(44, 159, 193)" >Mobile Number:<%= data.Mobile_Number %></h2>
        </div> -->
    </div>
</div>  
</body>

</html>